<!-- This container wrapper class ensures that the pane grows to the width and height of the view.-->
<div class="container">
    <!-- This mat pane contains all of the elements for this page.-->
    <mat-pane>
        <!-- The mat card header includes the title for the page. -->
        <mat-card-header>
            <mat-card-title>To-Do List</mat-card-title>
        </mat-card-header>
        <!-- The mat card content includes all of the to-do list items. -->
        <mat-card-content>
            <!-- 
                TODO: Display to-do list items.
                Use `mat-list` combined with `mat-list-item`s to display all information.
            
                Each mat-list-item should include the following:
                - One `mat-checkbox` that displays whether the item is checkmarked.
                    Hint: Use the [checked] and (change) bindings to control the read/write of data.
                - The title of the to-do list item, using string interpolation.
                - One delete button that, when clicked, removes the item from the list.

                When there are no items in the to-do list, display a message to encourage users to add an item.
                  Hint: Use @for combined with @empty.
            -->
           
        </mat-card-content>
        <!-- Stores the bottom bar with a text input and a button. -->
        <mat-card-actions>
            <!-- This form field enables user input to add a new item. -->
            <!-- 
                TODO: Currently, this form field does not connect to any form control, so
                we cannot access what data the user types in! Use the `[formControl]` 
                property binding to connect this form field to the form control in
                the component TS file.
             -->
            <mat-form-field appearance="outline" color="accent">
                <mat-label>New To-Do Item</mat-label>
                <input
                matInput
                placeholder=""
                [formControl]=""
                />  
            </mat-form-field>
            <!-- This button enables the user to add the to-do item. -->
            <!-- 
                TODO: Currently, this button does not do anything! Call the appropriate method
                when this button is pressed to delete the correct item from the to-do list.
                    Hint: Use the (click) event binding.

                CHALLENGE: Using the [disabled] property binding, "disable" (grey-out) the button
                when the user has typed in no text into the form field above.
              -->
            <button mat-flat-button class="primary-button">
                <mat-icon>add</mat-icon>
                Add To-Do
            </button>
        </mat-card-actions>
    </mat-pane>
</div>